<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.android.systemui"
        android:sharedUserId="android.uid.systemui"
        coreApp="true">

    <!-- Ambient Indication -->
    <permission android:name="com.google.android.ambientindication.permission.AMBIENT_INDICATION" android:protectionLevel="privileged|signature"/>
    <uses-permission android:name="com.google.android.ambientindication.permission.AMBIENT_INDICATION"/>

</manifest>
