<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.android.systemui">

    <!-- Ambient Indication -->
    <permission android:name="com.google.android.ambientindication.permission.AMBIENT_INDICATION" android:protectionLevel="privileged|signature"/>
    <uses-permission android:name="com.google.android.ambientindication.permission.AMBIENT_INDICATION"/>

</manifest>
